<md-card style="width: 50%">
	<md-card-title>{{componentTitle}}</md-card-title>
	<md-card-subtitle>
		Um einen neuen Dude zu machen, werden folgende Eingaben benötigt:
	</md-card-subtitle>
	<md-card-content>
		<form>
			<p>Daten:</p>
			<md-input placeholder="Name" style="width: 70%"></md-input>
			<md-input placeholder="Pfad zu einem persönlichen Bild" style="width: 70%"></md-input>
			<p>Coolness:</p>
			<md-slider value="2" placeholder="Coolness" style="width: 70%"></md-slider>
		</form>
	</md-card-content>
	<md-card-actions>
    <button md-button>
    	<md-icon>thumb_down</md-icon>
    	Cancel
    </button>
    <button md-button>
    	<md-icon>thumb_up</md-icon>
    	Create
    </button>
   </md-card-actions>
</md-card>