<div class="contingent-container">
  <a (click)="clickEvent()">
  <p class="contingent-title"> {{contingent.name}}</p>
  <p> {{contingent.from | date}} - {{contingent.to | date}}</p>

  <ng-container *ngIf="contingent.size">
    <div class="container"
         fxLayout
         fxLayoutAlign="left"
         fxLayout.xs="column"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
      <p class="contingent-size" fxFlex="40%">
        {{contingent.sizeBooked}} / {{contingent.size}} ({{bookedPercentage | percent}}) </p>
      <md-progress-bar fxFlex="660%" mode="determinate" [value]="bookedPercentage * 100" [color]="bookedPercentage>=0.8?'warn':'accent'"></md-progress-bar>
    </div>
  </ng-container>
  </a>
</div>
