<md-toolbar color = "primary">Peni</md-toolbar>

<h1>
  {{title}}
</h1>

<md-card>
<md-list>
<md-list-item *ngFor="let item of dudes" (click) = "currentDude = item">
  
  <img md-list-avatar [src]="item.imagePath">
  
  <div *ngIf="item.cool">
    {{item.name}} ist ganz in Ordnung.
  </div>
  <div *ngIf="!item.cool">
    {{item.name}} ist so lala.
  </div>
  
</md-list-item>
</md-list>
</md-card>
  
<app-dude-details [dude] = "currentDude"></app-dude-details>
<app-new-dude [dudes] = "dudes">das kann etwas dauern</app-new-dude>