<md-toolbar color = "primary">Peni</md-toolbar>

<h1>
  {{title}}
</h1>

<md-card>
<md-list>
<md-list-item *ngFor="let item of dudes" (click) = "currentDude = item">
  
  <img md-list-avatar [src]="item.imagePath">
  
  <div *ngIf="item.cool">
    {{item.name}} ist ganz in Ordnung.
  </div>
  <div *ngIf="!item.cool">
    {{item.name}} ist so lala.
  </div>

</md-list-item>
<md-list-item *ngIf="!create"> 
  <button md-mini-fab color="primary" align="start" (click)="create=true">
    <md-icon class="md-24">add</md-icon>
  </button>
</md-list-item>
</md-list>
</md-card>
  
<app-dude-details [dude] = "currentDude"></app-dude-details>
<app-new-dude *ngIf="create" [dudes]= "dudes" (finished)="hideNewDudeComponent($event)">das kann etwas dauern</app-new-dude>