<div class="container">
  {{diagnostic}}
  <h2>Enter card name</h2>
  <form (ngSubmit)="onSubmit()" #cardForm="ngForm">
    <div class="form-group">

      <label for="cardName">Name</label>
      <input type="text" class="form-control" id="name"
      required
      [(ngModel)]="cardName" name="cardName"
      #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class ="alert alert-danger">
        Name is required.
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!cardForm.form.valid">Submit</button>

    </div>
  </form>
</div>
